<!--
  Generated template for the ContactsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="cf">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Contacts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of contacts">
      <h4><strong>{{item.name}}</strong></h4>
      <h4>{{item.number}}</h4>
      <div class="item-note" item-right>

      </div>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab mini color="cf" (click)="openModal()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
