<!--
  Generated template for the MedicationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="cf">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Medication</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-item *ngFor="let item of medications">
      <h4><strong>{{item.name}}</strong></h4>
      <h4>{{item.strength}}</h4>
      <h4>{{item.description}}</h4>
    </ion-item>
  </ion-list>
</ion-content>
