<ion-header>
  <ion-navbar color="cf">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <h3 text-center>Cystic Fibrosis</h3>

  <p text-center>
    Overview of you
  </p>
  <ion-card text-center color="cf" (click)="goDiet()">

    <ion-card-header>
      <h1>449 Kcal</h1>
    </ion-card-header>

    <ion-card-content>
      Calories consumed
    </ion-card-content>

  </ion-card>

  <ion-card text-center color="cf" (click)="goEvent()">

    <ion-card-header>
      <h1>2</h1>
    </ion-card-header>

    <ion-card-content>
      Upcoming Events
    </ion-card-content>

  </ion-card>

  <ion-card text-center color="cf" (click)="goContact()">

    <ion-card-header>
      <h1>3</h1>
    </ion-card-header>

    <ion-card-content>
      My Contacts
    </ion-card-content>

  </ion-card>

</ion-content>
