<!--
  Generated template for the ModalAddMealPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="cf">
    <ion-title>Add Meal</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="cf-light" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <!-- <ion-item>
      <ion-label color="primary" stacked>Meal Name</ion-label>
      <ion-input type="text" placeholder="Meal Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Calories (Kcal)</ion-label>
      <ion-input type="text" placeholder="Calories (Kcal)"></ion-input>
    </ion-item>

    <button ion-button small>Add Meal</button> -->

    <form [formGroup]="todo" (ngSubmit)="logForm()">
          <ion-item>
            <ion-label color="primary" stacked>Meal Name</ion-label>
            <ion-input type="text" formControlName="name" placeholder="Meal Name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" stacked>Calories (Kcal)</ion-label>
            <ion-input type="number" formControlName="calory" placeholder="Calories (Kcal)"></ion-input>
          </ion-item>
          <p>
            <button ion-button type="submit" [disabled]="!todo.valid">Add Meal</button>
          </p>

        </form>

</ion-content>
