<!--
  Generated template for the DietPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="cf">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Diet Journal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let item of meals">
    <img src="../assets/imgs/{{item.img}}.jpg"/>
    <ion-card-content>
      <ion-card-title>
        <h3><strong>{{item.name}}</strong></h3>
        </ion-card-title>
      <p>
        {{item.calory}} Kcal
      </p>
    </ion-card-content>
  </ion-card>
  <ion-fab right bottom>
    <button ion-fab mini color="cf" (click)="openModal()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
