<!--
  Generated template for the ContactDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contact Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3 text-center *ngIf="selectedItem">
    {{selectedItem.name}}
  </h3>
  <h4 text-center *ngIf="selectedItem">
    You navigated here from <b>{{selectedItem.name}}</b>
  </h4>
</ion-content>
