<!--
  Generated template for the ModalAddContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="cf">
    <ion-title>Add Contact</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="cf-light" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="logForm()">
     <ion-item>
       <ion-label>Name</ion-label>
       <ion-input type="text" [(ngModel)]="todo.name" name="name"></ion-input>
     </ion-item>
     <ion-item>
       <ion-label>Number</ion-label>
       <ion-input type="number" [(ngModel)]="todo.number" name="number"></ion-input>
     </ion-item>
     <div padding>
       <button ion-button type="submit" block>Add Contact</button>
     </div>

   </form>
</ion-content>
