<ion-header>
  <ion-navbar color="cf">
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>Welcome</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-row>
      <ion-col col-12 text-center>
        <img src="../assets/imgs/cflogo.png" alt="">
      </ion-col>
    </ion-row>
  <h3 text-center>
    Cystic Fibrosis
  </h3>


   <form (ngSubmit)="checkUser()">
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text" [(ngModel)]="todo.name" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" [(ngModel)]="todo.password" name="password"></ion-input>
      </ion-item>
      <div padding>
        <button ion-button type="submit" block>Log in</button>
      </div>

    </form>



</ion-content>
